<div class="wrapper" *ngIf="client.general">
  <section class="header">
    <div class="avatar">
      <img src="{{ client.general.avatar }}" alt="">
    </div>
    <div class="header-info">
      <h1>{{ client.general.firstName }} {{ client.general.lastName }}</h1>
      <h3>"{{ client.job.title }} - {{ client.job.company }}"</h3>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="details">
    <fieldset class="contacts">
      <legend>&nbsp;&nbsp;contacts&nbsp;&nbsp;</legend>
      <p>email: {{ client.contact.email }}</p>
      <p>phone: {{ client.contact.phone }}</p>
    </fieldset>
    <fieldset class="address">
      <legend>&nbsp;&nbsp;address&nbsp;&nbsp;</legend>
      <p>street: {{ client.address.street }}</p>
      <p>city: {{ client.address.city }}</p>
      <p>zipCode: {{ client.address.zipCode }}</p>
      <p>country: {{ client.address.country }}</p>
    </fieldset>
  </section>
</div>
