.example-card {
    max-width: 400px;
    padding: 4px 24px; 
  }
  
  .example-header-image img {
    background-size: cover;
    border-radius: 50%;
    width: 100%; 
  }

  mat-card {
    padding: 5px;
    box-sizing: border-box;
  }

  .active {
    border-left: 15px solid #c2185b;
    // background-color:  #c2185b;
  }